@{
    ViewData["Title"] = "Home";
}


@*<p class="text-center"> Index page for Home.</p>
<p class="text-center"> Also a general "Welcome to CRESME" with a logo from Login page</p>*@


<div id="flexbox" aria-live="polite" aria-atomic="true" class="pt-5 d-flex justify-content-end align-items-end w-100">

    @if (TempData["AlertMessage"] != null)
    {
        <div class="toast  " role="alert" aria-live="assertive" style="position: fixed" aria-atomic="true">
            <div class="toast-header">
                <img src="../images/canvas3.png" width="30" height="30" class="rounded me-2">
                <strong class="me-auto">CRESME</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-danger">
                @TempData["AlertMessage"]
            </div>
        </div>
    }


    @if (TempData["Success"] != null)
    {
        <div class="toast  " role="alert" aria-live="assertive" style="position: fixed" aria-atomic="true">
            <div class="toast-header">
                <img src="../images/canvas3.png" width="30" height="30" class="rounded me-2">
                <strong class="me-auto">CRESME</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-success" style="color:white">
                @TempData["Success"]
            </div>
        </div>
    }


</div>


<br />
<br />

<div class="d-flex align-items-center">
    <div class="container  border p-3 mb-5 mt-5 bg-white rounded" style="width: 50%;">
        <div class="row justify-content-center gy-2">

            <div class="w-100"></div>
            <img class="col-5" src="~/images/CollegeOfMedicine.png" />

            <div class="w-100"></div>
            <h1 class="col-12 text-center" style="font-weight: bold;">Welcome to CRESME</h1>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-6 text-center"><strong>Help Page</strong></div>
            }
            else
            {
                <a class="nav-link text-dark btn custom-btn col-6" asp-area="Identity" asp-page="/Account/Login">Go to Login page</a>
            }


            @*<div class="w-100"></div>
            <i class="col-lg-1 col-2 fa-solid fa-user"></i>
            <input asp-for="Input.Email" class="col-4 shadow-none input-field" autocomplete="NID" placeholder="Enter user NID" aria-required="true" />
            <label asp-for="Input.Email" style="display: none;"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>

            <div class="w-100"></div>
            <i class="col-lg-1 col-2 fa-solid fa-lock"></i>
            <input asp-for="Input.Password" class="col-4 input-field" autocomplete="current-password" placeholder="Enter user password" aria-required="true" />
            <label asp-for="Input.Password" style="display: none;"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <div class="w-100"></div>
            <label asp-for="Input.RememberMe" class="col-4">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>

            <div class="w-100"></div>
            <button class="btn custom-btn col-5">Log In</button>
            <div class="w-100"></div>

            <a id="forgot-password" asp-page="./ForgotPassword" class="col-lg-5 col-8">Forgot your password?</a>*@
        </div>
    </div>
</div>



<style>
    .container {
        border-color: #F1C400 !important;
        border-radius: 20px !important;
    }

    .custom-btn {
        background-color: #F1C400;
        font-weight: bold;
    }

    .input-field {
        border-color: #F1C400;
    }



</style>




@*<a class="nav-link text-dark btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Go to Login page</a>*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        window.onload = function () {
            // your code here
            $('.toast').toast('show');

            var reloading = sessionStorage.getItem("reloading");

            if (reloading) 
                sessionStorage.removeItem("reloading");
        };
    </script>
}

