@model IEnumerable<CRESME.Data.ApplicationUser>
﻿@{

    ViewData["Title"] = "Create Quiz";
    IEnumerable<string> UniqueCourses = Model.Select(x => x.Course).Distinct().Where(x => x!=null);
    IEnumerable<string> UniqueTerms = Model.Select(x => x.Term).Distinct().Where(x => x != null);
}
<form id="Form1" asp-controller="Quiz" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="d-flex align-items-center">
        <div class="container  border p-3 mb-5 bg-white rounded" style="width: 50%;">
            <div class="row gx-5 justify-content-center gy-2">

                <div class="w-100"></div>
                <input class="col-4  input-field" type="text" name="QuizName" placeholder="Enter Quiz Name" required>
                <div class="w-100"></div>

                <input class="col-4  input-field" type="text" name="PatientIntro" placeholder="Enter Patient Intro" required>
                <div class="w-100"></div>

                <input type="datetime-local" class="col-5" id="startDate" name="StartDate" runat="server" required>
                <div class="col-1">-</div>
                <input type="datetime-local" class="col-5" id="endDate" name="EndDate" runat="server" required>
                <div class="w-100"></div>

                <div class="col-2" style="font-weight: bold;">Publish</div>
                <input class="col-1" type="checkbox" id="publish" name="Publish" value="1">
                <div class="w-100"></div>

                <div class="col-2" style="font-weight: bold;">Feedback</div>
                <input class="col-1" type="checkbox" id="feedback" name="Feedback" value="1">
                <div class="w-100"></div>

                <div class="col-4" style="font-weight: bold;">Number of Columns:</div>

                <div class="form-check form-check-inline col-1">
                    <input class="form-check-input" type="radio" name="NumColumns" id="NumColumns1" value="4">
                    <label class="form-check-label" for="NumColumns">4</label>
                </div>
                <div class="form-check form-check-inline col-1">
                    <input class="form-check-input" type="radio" name="NumColumns" id="NumColumns2" value="5">
                    <label class="form-check-label" for="NumColumns">5</label>
                </div>
                <div class="w-100"></div>

                <button type="button" id="imageButton" class="col-4 btn btn-link" onclick="addImage()">+Image</button>
                <div class="w-100"></div>

                <input type="file" name="ExcelFileUpload" id="excelButton" accept=".xlsx" style="display: none;" required />
                <label class="col-4 row justify-content-center border" id="excelLabel" for="excelButton" style="border-color: black !important;">
                    <i class="col-md-auto fa-sharp fa-solid fa-upload"></i>
                </label>
                <div class="w-100"></div>

                <select id="Term" name="Term" class="form-select col-3" aria-label="Default select example" style="text-align-last: center; width:25%; height: 15%" required>
                    @foreach (var term in UniqueTerms)
                    {
                        <option value=@term selected>@term</option>
                    }
                </select>
                <div class="col-1"></div>

                <select id="Block" name="Block" class="form-select col-3" multiple aria-label="Default select example" style="text-align-last: center; width:25%;" required>
                    <option value="none" selected>N/A</option>
                    <option value="B1">1</option>
                    <option value="B2">2</option>
                    <option value="B3">3</option>
                    <option value="B4">4</option>
                    <option value="B5">5</option>
                    <option value="B6">6</option>
                    <option value="B7">7</option>
                    <option value="B8">8</option>
                    <option value="B9">9</option>
                    <option value="B10">10</option>
                    <option value="B11">11</option>
                    <option value="B12">12</option>
                </select>
                <div class="col-1"></div>

                <select id="Course" name="Course" class="form-select col-3" aria-label="Default select example" style="text-align-last: center; width:25%; height: 15%" required>
                    @foreach (var course in UniqueCourses)
                    {
                        <option value=@course selected>@course</option>
                    }
                </select>
                <div class="w-100"></div>

                <button type="submit" class="custom_btn col-5">Create Quiz</button>
                <div class="w-100"></div>
            </div>
        </div>
    </div>
</form>

<style>
    .container {
        border-color: #F1C400 !important;
        border-radius: 20px !important;
    }

    .custom_btn {
        background-color: #F1C400;
        font-weight: bold;
    }

    .upload-btn {
        border-color: #F1C400 !important;
        background: transparent;
    }

    .input-field {
        border-color: black;
    }

    label {
        background-color: white;
        padding: 0.5rem;
        border-color: #F1C400 !important;
        cursor: pointer;
    }

</style>



<script>

    var i = 0;

    function addImage() {

        var newDiv = document.createElement("div");
        newDiv.setAttribute("class", 'w-100');

        var imageButton = document.getElementById("imageButton");

        var newfile = document.createElement("input");
        newfile.setAttribute("type", 'file');
        newfile.setAttribute("name", 'imageFile' + i);
        newfile.setAttribute("id", 'imageFile' + i);
        newfile.setAttribute("accept", '.jpg, .jpeg');
        newfile.setAttribute("onchange", 'checkForImage()');
        newfile.style.display = "none";


        imageButton.after(newfile);

        var hrDiv = document.createElement("div");
        hrDiv.setAttribute("class", 'col-1');

        newfile.after(hrDiv);

        var select = document.createElement("select");
        select.setAttribute("class", 'form-select col-1');
        select.setAttribute("aria-label", 'Default select example');
        select.setAttribute("id", 'ImagePos'+ i);
        select.setAttribute("name", 'ImagePos' + i);
        select.style.width = "15%";
        select.style.height = "10%";
        select.style.textAlignLast = "center"

        const options = ["A", "B", "C", "D", "E", "1", "2", "3", "4", "5"];

        options.forEach((element, key) => {
            select[key] = new Option(element, key);
            select[key].setAttribute("value", element);
            select[key].setAttribute("name", 'Image' + key + 'Pos');
        });
        
        hrDiv.after(select);
        imageButton.after(newDiv);


        var newlabel = document.createElement("Label");
        newlabel.setAttribute("class", 'col-4 row justify-content-center border');
        newlabel.setAttribute("for", 'imageFile' + i);
        newlabel.setAttribute("id", 'imageLabel' + i);
        newlabel.style.setProperty("border-color", "black", "important");

        var newi = document.createElement("i");
        newi.setAttribute("class", "col-md-auto fa-solid fa-image");
        newlabel.appendChild(newi);

        imageButton.after(newDiv);
        newfile.after(newlabel);


        i++;

    }

    function checkForImage() {


        for (var j = 0; j < i; j++) {
            var imageButton = document.getElementById('imageFile' + j);

            if (imageButton.value != "") {

                var checkForI = document.getElementById("imgCheckMark" + j);

                if (checkForI == null) {

                    var newi = document.createElement("i");
                    newi.setAttribute("class", "col-1 fa-solid fa-check");
                    newi.setAttribute("id", "imgCheckMark" + j);

                    var newBreak = document.createElement("div");
                    newBreak.setAttribute("class", 'w-100');

                    document.getElementById("ImagePos" + j).after(newi);
                    newi.after(newBreak);

                    var newdiv = document.createElement("div");
                    newdiv.setAttribute("class", "col-2");
                    newdiv.style.fontWeight = "bold";
                    newdiv.innerHTML = "Image" + (j+1);


                    newBreak.after(newdiv);

                    var newBreak1 = document.createElement("div");
                    newBreak.setAttribute("class", 'w-100');

                    newdiv.after(newBreak1)
                }


            }
        }
    }

    var fileButton = document.getElementById("excelButton");

    fileButton.onchange = function () {

        var checkForI = document.getElementById("excelCheckMark");

        if ((fileButton.value) != "" && (checkForI == null)) {

            var newi = document.createElement("i");
            newi.setAttribute("class", "col-1 fa-solid fa-check");
            newi.setAttribute("id", "excelCheckMark");

            var newBreak = document.createElement("div");
            newBreak.setAttribute("class", 'w-100');

            document.getElementById("excelLabel").after(newi);
            newi.after(newBreak);

            var newdiv = document.createElement("div");
            newdiv.setAttribute("class", "col-6");
            newdiv.style.fontWeight = "bold";
            newdiv.innerHTML = fileButton.value.substr(fileButton.value.lastIndexOf('\\') + 1).split('.')[0];

            newBreak.after(newdiv);

            var newBreak1 = document.createElement("div");
            newBreak.setAttribute("class", 'w-100');

            newdiv.after(newBreak1)

        }


    }


</script>
