@model CRESME.Data.Quiz

@{
    ViewData["Title"] = "Create Quiz";
}

<h1>Create Quiz</h1>


<hr />
<div class="text-center">
    <div class="container">
        <form asp-controller="Quiz" asp-action="Create" method="post" enctype="multipart/form-data">

            <label for="QuizName">Quiz Name:</label><br>
            <input type="text" id="QuizName" name="QuizName" required><br>

            <label for="excelfile">Upload quiz excel sheet:</label>
            <input type="file" name="FileUpload" accept=".xlsx" required>
            <br />

            <label for="feedback"> Enable feedback and score report for students</label>
            <input type="checkbox" id="feedback" name="Feedback"><br>
            
            <label for="publish"> Publish</label>
            <input type="checkbox" id="publish" name="Publish"><br>

            <label for="startdate">start date:</label>
            <input type="date" id="startdate" name="StartDate" required>

            <label for="enddate">end date:</label>
            <input type="date" id="enddate" name="EndDate" required>
            <br />

            <label for="NIDAssignment">Student's NID(ex "NID1, NID2,..."):</label><br>
            <input type="text" id="NIDAssignment" name="NIDAssignment" required><br>

            <label for="CourseAssignment">Course:</label><br>
            <input type="text" id="CourseAssignment" name="CourseAssignment" required><br>

            <label for="BlockAssignment">Blocks:</label><br>
            <input type="text" id="BlockAssignment" name="BlockAssignment" required><br>

            <label for="Image1">Upload Image:</label><br>
            <input type="file" name="Image1" accept="image/*"><br>

            <button type="submit">Create Quiz</button>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
