
@{
    ViewData["Title"] = "Change password";
    
}

<h3>@ViewData["Title"]</h3>


<div class="row">
    <div class="col-md-6">
        <form asp-controller="Admin" asp-action="UpdatePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating">
                @*<label>Old Password</label>*@
                <input name="oldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                
                
            </div>
            <div class="form-floating">
                @*<label>New Password</label>*@
                <input name="newPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                
                
            </div>
            <div class="form-floating">
               @* <label>Confirm Passowrd Password</label>*@
                <input name="confirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                
                
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Change password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
