@{
    ViewData["Title"] = "Create Accounts";
}

<style>
    .containerNew {
        margin-top: 175px;
    }
</style>

<div class="containerNew">


    <div class="card text-center md-3 border-warning mx-auto my-auto w-50 bg-light">
        <br />
        <div class="card-header">
            Create New Accounts
        </div>
        <div class="card-body">

            <h5 class="card-title">Upload an excel file to create new accounts.</h5>
            <p class="card-text">*All NID's must be unique*</p>
            <form asp-controller="Admin" asp-action="ImportExcel" method="post">
                <input type="file" name="file" />
                <button type="submit" class="btn btn-md btn-primary">
                    <i class="fa-solid fa-file-import"></i>
                    Create Accounts
                </button>
            </form>
            <br />
        </div>

    </div>

</div>

    

<br />
<br />
<br />





