@{
    ViewData["Title"] = "Create Accounts";
}

<div id="flexbox" aria-live="polite" aria-atomic="true" class="pt-5 d-flex justify-content-end align-items-end w-100">

    @if (TempData["AlertMessage"] != null)
    {
        <div class="toast  " role="alert" aria-live="assertive" style="position: fixed" aria-atomic="true">
            <div class="toast-header">
                <img src="../images/canvas3.png" width="30" height="30" class="rounded me-2">
                <strong class="me-auto">CRESME</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-danger">
                @TempData["AlertMessage"]
            </div>
        </div>

    }

    @if (TempData["Success"] != null)
    {
        <div class="toast  " role="alert" aria-live="assertive" style="position: fixed" aria-atomic="true">
            <div class="toast-header">
                <img src="../images/canvas3.png" width="30" height="30" class="rounded me-2">
                <strong class="me-auto">CRESME</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-success" style="color:white">
                @TempData["Success"]
            </div>
        </div>
    }



</div>





<div id="flexbox" aria-live="polite" aria-atomic="true" class="pt-5 d-flex justify-content-end align-items-end w-100">
    </div>



<form id="form"  method="post" asp-controller="Admin" asp-action="ImportExcel" enctype="multipart/form-data">
    <div class="container border rounded" style="width: 50%; background-color:#f8f9fa;">
        <div class="row gy-2 mb-3 justify-content-center">

                @*<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        B12, Cardiac Arrest
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                       </div>
                    </div>
                  </div>
                </div>*@


                <div class="container p-2 border col-12" style="border-style: solid !important; background-color: #f8f4f4; border-color: #fcfcfc !important;">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">Create User Accounts</div>
                        </div>
                </div>

                <div class="col-12 text-center" style="font-weight: bold;">Upload an Excel file to create/update user accounts</div>
                <div class="w-100"></div>

                @*<div class="col-12 text-center" style="font-weight: lighter;">*All NID's must be unique*</div>*@
                <div class="w-100"></div>

                <input  type="file" name="file" id="file" accept=".xlsx" style="display: none;" required />
                <label class="col-4 row justify-content-center border" id="excelLabel" for="file" style="border-color: black !important;">
                        <i class="col-md-auto fa-sharp fa-solid fa-upload"></i>
                </label>

                <div class="w-100"></div>


            <button onclick="validate();" class="col-4 btn custom_btn" type="submit">
                    <i class="fa-solid fa-user"></i> Create User Accounts
                </button>
        </div>
    </div>                                
</form>

<br />
<br />

<style>


    .container {
        border-color: #F1C400 !important;

    }

    .custom_btn {
        background-color: #F1C400;
        font-weight: bold;
    }

    .upload-btn {
        border-color: #F1C400 !important;
        background: transparent;
    }

    .input-field {
        border-color: black;

    }

    label {
        background-color: white;
        padding: 0.5rem;
        border-color: #F1C400 !important;
        cursor: pointer;
    }

</style>




@section scripts
    {
    <script src="~/js/datatable_file.js"></script>

    <script>

        var fileButton = document.getElementById("file");


        window.onload = function () {
            // your code here
            $('.toast').toast('show');
        };

        function showToast(toast) {

            var showToast = new bootstrap.Toast(toast);
            showToast.show();

        }

        function validate() {


            if (fileButton.value == "") {

                var toast = document.createElement("div");
                toast.setAttribute("aria-live", 'assertive');
                toast.setAttribute("aria-atomic", 'true');
                toast.setAttribute("class", 'toast');
                toast.setAttribute("role", 'alert');
                toast.style.position = "absolute";


                var toastHeader = document.createElement("div");
                toastHeader.setAttribute("class", 'toast-header');

                var img = document.createElement("img");
                img.src = '../images/canvas3.png';
                img.setAttribute("width", '30');
                img.setAttribute("height", '30');
                img.setAttribute("class", 'rounded mr-2');

                var strong = document.createElement("strong");
                strong.innerHTML = "CRESME";
                strong.setAttribute("class", 'me-auto');

                var button = document.createElement("button");
                button.setAttribute("class", 'btn-close');
                button.setAttribute("data-bs-dismiss", 'toast');
                button.setAttribute("aria-label", 'Close');

                var toastBody = document.createElement("div");
                toastBody.setAttribute("class", 'toast-body bg-warning');
                toastBody.innerHTML = "Please Upload Excel File!"

                var flexbox = document.getElementById("flexbox");

                flexbox.prepend(toast);

                toast.prepend(toastBody);
                toast.prepend(toastHeader);

                toastHeader.prepend(button);
                toastHeader.prepend(strong);
                toastHeader.prepend(img);


                showToast(toast);



            }

        }

        fileButton.onchange = function () {

            var checkForI = document.getElementById("excelCheckMark");

            if ((fileButton.value) != "" && (checkForI == null)) {

                var newi = document.createElement("i");
                newi.setAttribute("class", "col-2 fa-solid fa-check");
                newi.setAttribute("id", "excelCheckMark");

                var newBreak = document.createElement("div");
                newBreak.setAttribute("class", 'w-100');

                var div = document.createElement("div");
                div.setAttribute("class", 'col-1');

                document.getElementById("excelLabel").after(div);
                div.after(newi);
                newi.after(newBreak);

                var newdiv = document.createElement("div");
                newdiv.setAttribute("class", "col-6 text-center");
                newdiv.setAttribute("id", "excelFileName");
                newdiv.style.fontWeight = "bold";
                newdiv.innerHTML = fileButton.value.substr(fileButton.value.lastIndexOf('\\') + 1).split('.')[0];

                newBreak.after(newdiv);

                var newBreak1 = document.createElement("div");
                newBreak1.setAttribute("class", 'w-100');

                newdiv.after(newBreak1);

            }
            else if (checkForI != null) {

                var newdiv = document.getElementById("excelFileName");
                newdiv.innerHTML = fileButton.value.substr(fileButton.value.lastIndexOf('\\') + 1).split('.')[0];

            }
        }

    </script>


    
}


