@model CRESME.Data.ApplicationUser

@{
    ViewData["Title"] = "Create User";
}


<form asp-controller="Admin" asp-action="Create" method="post" onsubmit="return confirm('Are you sure you want to create a new user?');">
    <div class="d-flex align-items-center min-vh-100" style="margin-bottom:70px;">
        <div class="container border rounded bg-light" style="width: 50%;">
            <div class="row gx-5 justify-content-center gy-2">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="w-100"></div>
                <h4 class="col-6 text-center" style="font-weight: bold;">Create User Form</h4>

                <div class="w-100"></div>
                <div class="col-10" style="height: 5px; background-color: #f1c400;"></div>

                <div class="w-100"></div>
                <div class="col-6 text-center" style="font-weight: bold;">NID</div>


                <div class="w-100"></div>
                <input asp-for="UserName" class="col-4 input-field" placeholder="NID" required autocomplete="off" />
                <span asp-validation-for="UserName" class="text-danger"></span>

                <div class="w-100"></div>
                <div class="col-6 text-center" style="font-weight: bold;">Name</div>

                <div class="w-100"></div>
                <input asp-for="Name" class="col-4 input-field" placeholder="Name" required autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>


                <div class="w-100"></div>
                <div class="col-6 text-center" style="font-weight: bold;">Block</div>

                <div class="w-100"></div>
                <input asp-for="Block" class="col-4 input-field" placeholder="Block" required autocomplete="off" />
                <span asp-validation-for="Block" class="text-danger"></span>


                <div class="w-100"></div>
                <div class="col-6 text-center" style="font-weight: bold;">Course</div>

                <div class="w-100"></div>
                <input asp-for="Course" class="col-4 input-field" placeholder="Course" required autocomplete="off" />
                <span asp-validation-for="Course" class="text-danger"></span>

                <div class="w-100"></div>
                <div class="col-6 text-center" style="font-weight: bold;">Term</div>

                <div class="w-100"></div>
                <input asp-for="Term" class="col-4 input-field" placeholder="Term" required autocomplete="off" />
                <span asp-validation-for="Term" class="text-danger"></span>


                <div class="w-100"></div>
                <div class="col-6 text-center" style="font-weight: bold;">Password</div>

                <div class="w-100"></div>
                <input type="password" asp-for="PasswordHash" class="col-4 input-field" placeholder="Password" id="PasswordHash" name="PasswordHash" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
             

                <div id="message" class="col-6 password_container container border bg-white">
                    <div class="row gx-5 justify-content-center gy-2">
                        <div class="text-center col-10">Password must contain the following:</div>
                        <div class="w-100"></div>
                        <div id="letter" class="invalid text-center col-10">One <b>lowercase</b> letter</div>
                        <div class="w-100"></div>
                        <div id="capital" class="invalid text-center col-10">One <b>capital (uppercase)</b> letter</div>
                        <div class="w-100"></div>
                        <div id="number" class="invalid text-center col-10">One <b>number</b></div>
                        <div class="w-100"></div>
                        <div id="length" class="invalid text-center col-10">Minimum <b>8 characters</b></div>
                        <div class="w-100"></div>
                        <div id="special" class="invalid text-center col-10">One <b>special character(@@$!%*?&)</b></div>
                        <div class="w-100"></div>
                    </div>
                </div>
                <div class="w-100"></div>

                <div class="col-4 text-center" style="font-weight: bold;">Role:</div>

                <div class="form-check form-check-inline col-3">
                    <input class="form-check-input" type="radio" asp-for="Role" value="Student" checked>
                    <label class="form-check-label bg-light" for="flexRadioDefault1">
                        Student
                    </label>
                </div>
                <div class="form-check form-check-inline col-3">
                    <input class="form-check-input" type="radio" asp-for="Role" value="Instructor">
                    <label class="form-check-label bg-light" for="flexRadioDefault2">
                        Instructor
                    </label>
                </div>
                <div class="w-100"></div>

                   


                <input type="submit" value="Submit" class="btn custom_btn col-5" id="buyNow" />
                <div class="w-100"></div>


            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="ListUsers">Back to List</a>
</div>

<style>

     /* Style all input fields */
    /*input {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
    }*/

     /*Style the submit button 
    input[type=submit] {
      background-color: #04AA6D;
      color: white;
    }*/

    /* Style the container for inputs */
    /*.container {
      background-color: #f1f1f1;
      padding: 20px;
    }*/

    /* The message box is shown when the user clicks on the password field */
    #message {
      display:none;
      background-color: white;
      border-color: #F1C400 ;
      color: #000;
      position: relative;
      padding: 20px;
      margin-top: 10px;
    }


    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
      color: green;
    }

    .valid:before {
      position: relative;
      content: "✔";
    }

    /* Add a red text color and an "x" icon when the requirements are wrong */
    .invalid {
      color: red;
    }

    .invalid:before {
      position: relative;
      content: "✖";

    } 

    .password_container{
        border-color: black !important;
    }

    .container:not(.password_container) {
        border-color: #F1C400 !important;
        border-radius: 20px !important;
    }

    .custom_btn {
        background-color: #F1C400;
        font-weight: bold;
    }


    .input-field {
        border-color: #F1C400;
    }




</style>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
            var myInput = document.getElementById("PasswordHash");
            var letter = document.getElementById("letter");
            var capital = document.getElementById("capital");
            var number = document.getElementById("number");
            var length = document.getElementById("length");
            var special = document.getElementById("special");

            // When the user clicks on the password field, show the message box
            myInput.onfocus = function () {
                document.getElementById("message").style.display = "block";
            }

            // When the user clicks outside of the password field, hide the message box
            myInput.onblur = function () {
                document.getElementById("message").style.display = "none";
            }

            // When the user starts to type something inside the password field
            myInput.onkeyup = function () {
                // Validate lowercase letters
                var lowerCaseLetters = /[a-z]/g;
                if (myInput.value.match(lowerCaseLetters)) {
                    letter.classList.remove("invalid");
                    letter.classList.add("valid");
                } else {
                    letter.classList.remove("valid");
                    letter.classList.add("invalid");
                }

                // Validate capital letters
                var upperCaseLetters = /[A-Z]/g;
                if (myInput.value.match(upperCaseLetters)) {
                    capital.classList.remove("invalid");
                    capital.classList.add("valid");
                } else {
                    capital.classList.remove("valid");
                    capital.classList.add("invalid");
                }

                // Validate numbers
                var numbers = /[0-9]/g;
                if (myInput.value.match(numbers)) {
                    number.classList.remove("invalid");
                    number.classList.add("valid");
                } else {
                    number.classList.remove("valid");
                    number.classList.add("invalid");
                }

                // Validate length
                if (myInput.value.length >= 8) {
                    length.classList.remove("invalid");
                    length.classList.add("valid");
                } else {
                    length.classList.remove("valid");
                    length.classList.add("invalid");
                }

                // Validate special characters
                var specialLetters = /[@@$!%*?&]/g;
                if (myInput.value.match(specialLetters)) {
                    special.classList.remove("invalid");
                    special.classList.add("valid");
                } else {
                    special.classList.remove("valid");
                    special.classList.add("invalid");
                }
            }
        </script>
    }

    

}
