@model CRESME.Data.ApplicationUser

@{
    ViewData["Title"] = "Create User";
}

<h1>CREATE</h1>

<h4>Create New User</h4>
<hr />




<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="Create" method="post" onsubmit="return confirm('Are you sure you want to CREATE a new user?');">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label for="UserName" class="control-label">NID</label>
                <input asp-for="UserName" class="form-control" required autocomplete="off"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <br />   

            <div class="form-group">
                <label asp-for="Block" class="control-label"></label>
                <input asp-for="Block" class="form-control" required autocomplete="off" />
                <span asp-validation-for="Block" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="Course" class="control-label"></label>
                <input asp-for="Course" class="form-control" required autocomplete="off" />
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>

            <br /> 

            <div class="form-group">
                <label asp-for="Term" class="control-label"></label>
                <input asp-for="Term" class="form-control" required autocomplete="off" />
                <span asp-validation-for="Term" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label for="Password" class="control-label">Password</label>               
                <input type="password" asp-for="PasswordHash" class="form-control" id="PasswordHash" name="PasswordHash" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>

                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>

            <br />

            <div id="message">
                <h3>Password must contain the following:</h3>
                <p id="letter" class="invalid">One <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">One <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">One <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                <p id="special" class="invalid">One <b>special character(@@$!%*?&)</b></p>
            </div>

            <br />

            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Role" value="Student" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    Student
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Role" value="Instructor">
                <label class="form-check-label" for="flexRadioDefault2">
                    Instructor
                </label>
            </div>

            <br />


            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" id="buyNow" />
            </div>
            <br />

        </form>
    </div>
</div>

<div>
    <a asp-action="ListUsers">Back to List</a>
</div>

<style>

     /* Style all input fields */
    /*input {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
    }*/

     /*Style the submit button 
    input[type=submit] {
      background-color: #04AA6D;
      color: white;
    }*/

    /* Style the container for inputs */
    /*.container {
      background-color: #f1f1f1;
      padding: 20px;
    }*/

    /* The message box is shown when the user clicks on the password field */
    #message {
      display:none;
      background: #f1f1f1;
      color: #000;
      position: relative;
      padding: 20px;
      margin-top: 10px;
    }

    #message p {
      padding: 10px 35px;
      font-size: 18px;
    }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
      color: green;
    }

    .valid:before {
      position: relative;
      left: -35px;
      content: "✔";
    }

    /* Add a red text color and an "x" icon when the requirements are wrong */
    .invalid {
      color: red;
    }

    .invalid:before {
      position: relative;
      left: -35px;
      content: "✖";

    } 


</style>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
            var myInput = document.getElementById("PasswordHash");
            var letter = document.getElementById("letter");
            var capital = document.getElementById("capital");
            var number = document.getElementById("number");
            var length = document.getElementById("length");
            var special = document.getElementById("special");

            // When the user clicks on the password field, show the message box
            myInput.onfocus = function () {
                document.getElementById("message").style.display = "block";
            }

            // When the user clicks outside of the password field, hide the message box
            myInput.onblur = function () {
                document.getElementById("message").style.display = "none";
            }

            // When the user starts to type something inside the password field
            myInput.onkeyup = function () {
                // Validate lowercase letters
                var lowerCaseLetters = /[a-z]/g;
                if (myInput.value.match(lowerCaseLetters)) {
                    letter.classList.remove("invalid");
                    letter.classList.add("valid");
                } else {
                    letter.classList.remove("valid");
                    letter.classList.add("invalid");
                }

                // Validate capital letters
                var upperCaseLetters = /[A-Z]/g;
                if (myInput.value.match(upperCaseLetters)) {
                    capital.classList.remove("invalid");
                    capital.classList.add("valid");
                } else {
                    capital.classList.remove("valid");
                    capital.classList.add("invalid");
                }

                // Validate numbers
                var numbers = /[0-9]/g;
                if (myInput.value.match(numbers)) {
                    number.classList.remove("invalid");
                    number.classList.add("valid");
                } else {
                    number.classList.remove("valid");
                    number.classList.add("invalid");
                }

                // Validate length
                if (myInput.value.length >= 8) {
                    length.classList.remove("invalid");
                    length.classList.add("valid");
                } else {
                    length.classList.remove("valid");
                    length.classList.add("invalid");
                }

                // Validate special characters
                var specialLetters = /[@@$!%*?&]/g;
                if (myInput.value.match(specialLetters)) {
                    special.classList.remove("invalid");
                    special.classList.add("valid");
                } else {
                    special.classList.remove("valid");
                    special.classList.add("invalid");
                }
            }
        </script>
    }

    

}
