@{
    ViewData["Title"] = "Create Accounts";
}

<h1>@ViewData["Title"]</h1>


<h2>Please select an EXCEL file to create accounts.</h2>

<br />
<hr />
<br />

<div class="text-center">
    <div class="container">
        <form method="post" asp-controller="Admin" asp-action="Import" enctype="multipart/form-data">
            <input type="file" name="file" />
            <button type="submit">Import from Excel</button>

        </form>
    </div>
</div>