@model CRESME.Data.ApplicationUser

@{
    ViewData["Title"] = "Edit User";
}

<h1>Edit</h1>

<h4>Edit Users</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="Update" method="post" onsubmit="return confirm('Are you sure you want to EDIT this user data?');">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" required autocomplete="off" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Block" class="control-label"></label>
                <input asp-for="Block" class="form-control" required autocomplete="off" />
                <span asp-validation-for="Block" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Course" class="control-label"></label>
                <input asp-for="Course" class="form-control" required autocomplete="off" />
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Term" class="control-label"></label>
                <input asp-for="Term" class="form-control" required autocomplete="off" />
                <span asp-validation-for="Term" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="ListUsers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
