
@{
    ViewData["Title"] = "Forgot password";
    
}

<h3>@ViewData["Title"]</h3>

<div id="flexbox" aria-live="polite" aria-atomic="true" class="pt-5 d-flex justify-content-end align-items-end w-100">

    @if (TempData["AlertMessage"] != null)
    {
        <div class="toast  " role="alert" aria-live="assertive" style="position: fixed" aria-atomic="true">
            <div class="toast-header">
                <img src="../images/canvas3.png" width="30" height="30" class="rounded me-2">
                <strong class="me-auto">CRESME</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-danger">
                @TempData["AlertMessage"]
            </div>
        </div>

    }

    @if (TempData["Success"] != null)
    {
        <div class="toast  " role="alert" aria-live="assertive" style="position: fixed" aria-atomic="true">
            <div class="toast-header">
                <img src="../images/canvas3.png" width="30" height="30" class="rounded me-2">
                <strong class="me-auto">CRESME</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-success">
                @TempData["Success"]
            </div>
        </div>
    }



</div>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Admin" asp-action="FromAdminChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating">
                @*<label>NID</label>*@
                <input name="nid" class="form-control" aria-required="true" placeholder="Enter user NID" />
                
                
            </div>
            <div class="form-floating">
                @*<label>New Password</label>*@
                <input name="newPassword" class="form-control" aria-required="true" placeholder="New Password" />
                
                
            </div>
            <div class="form-floating">
               @* <label>Confirm Passowrd Password</label>*@
                <input name="confirmPassword" class="form-control" aria-required="true" placeholder="Confrim Password" />
                
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Change password</button>
        </form>
    </div>
</div>

@section Scripts 
{
    <partial name="_ValidationScriptsPartial" />

    <script>

        window.onload = function () {
            // your code here
            $('.toast').toast('show');
        };
    </script>
}
